<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/prueba1'>Prueba1</a></li>
        <li><a href='/prueba2'>Prueba2</a></li>
        <li><a href='/prueba3'>Prueba3</a></li>
        <li><a href='/productos'>Productos</a></li>
        <li><a href='/contacto'>Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
